/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700&display=swap");

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 1em;
}

/* Body styles */
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: aliceblue;
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Header styles */
#header > h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  font-weight: 800;
  margin: 1rem 1rem 1rem 20rem;
}

/* Navigation styles */
.nav_list {
  display: flex;
  flex-flow: row;
  list-style: none;
  font-size: 1.5em;
  margin: 1em auto 2em;
  justify-content: space-evenly;
}

.nav_list a {
  text-decoration: none;
  color: #fff;
}

.nav_list a:hover,
a:focus {
  text-decoration: none;
  color: red;
}

/* Hero section styles */
.hero__background {
  width: 100%;
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.362)),
    url(Images/HeaderImg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero {
  position: relative;
}

.hero__content {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  border-radius: 15px;
  padding: 40px;
}

#hero p {
  line-height: 30px;
}

.hero__content h4 {
  font-size: 3rem;
}

#hero button {
  font: inherit;
  font-size: 1.5em;
  width: 197px;
  margin: 1em 0;
  border-radius: 10px;
  padding: 10px;
}

.contactBtn {
  background-color: #ff6000;
  color: #fff;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactBtn:hover {
  background-color: #fe8437;
}

.projectBtn:hover {
  background-color: #cbc8c8;
  color: #1a1919;
}

/* Hero bullets styles */
.hero__bullets {
  background: linear-gradient(135deg, #ff6000, #000);
  border-radius: 15px;
  width: 679px;
  height: 256px;
  position: absolute;
  top: 40%;
  right: 5%;
}

.bullets__ul {
  font-size: 1.3em;
  line-height: 2em;
  list-style: none;
  padding: 53px 50px;
}

/* Intro section styles */
#intro {
  background-color: #222222;
  height: 649px;
  display: flex;
  flex-flow: row;
  padding: 100px 31px 0px 100px;
  justify-content: space-between;
}

.intro__content > h1 {
  font-size: 2em;
  color: #ff7420;
  margin-bottom: 2em;
}

.intro__content {
  width: 812px;
  font-size: 1.2em;
  line-height: 2em;
  text-align: justify;
}

#intro img {
  display: block;
  height: 400px;
  width: 500px;
}

/* Experience section styles */
#experience {
  background-color: #000000;
}

.experience__bullets {
  width: 600px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1em;
  padding: 40px;
}

.noBreak {
  white-space: nowrap;
}

.experience__brief__bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.orange__digit {
  color: #ff6000;
  font-weight: 800;
  font-size: 3em;
}

.experience__content {
  display: flex;
}

.experience__content > img {
  width: 800px;
  height: auto;
  padding: 40px;
}

.orange__years {
  color: #ff6000;
  font-size: 3rem;
  white-space: nowrap;
}

.experience__header--remain {
  font-size: 3rem;
}

.experienceWritten {
  padding: 40px;
}

/* Content styles */
.content {
  padding-top: 25px;
  font-size: 1.3rem;
  line-height: 1.5em;
  text-align: justify;
}

/* Steps section styles */
#steps {
  margin-top: 70px;
  padding: 60px;
  background-color: #222222;
}

#steps img {
  width: 100%;
  height: auto;
}

/* Footer section styles */
#footer {
  margin: 244px 0 50px;
  background-color: #222222;
  padding: 40px;
}

#footer > h2 {
  color: #ff6000;
  font-size: 2rem;
  margin: 1em 0 1.5em;
}

.footer__details > ul {
  list-style: none;
}

.footer__details {
  display: flex;
  width: 100%;
  margin: 1em 0;
  justify-content: space-between;
}

.footer__details--heading {
  margin-bottom: 1em;
}

.footer__aboutUs {
  width: 576px;
}

.footer__address {
  width: 304px;
}

.footer__contact {
  width: 283px;
}

.contactList,
.footer__link--list {
  list-style: none;
  line-height: 1.5em;
}

.footer__link--list a {
  color: #fff;
  text-decoration: none;
}

.footer__link--list a:hover {
  color: #9d9d9d;
  text-decoration: none;
}

/* Copyright text */
.copyright {
  text-align: center;
  margin-bottom: 20px;
}
